.movieMainList {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
}

.movieList {
  background-color: #a987ff6e;
  inline-size: calc((100% - 120px) / 5);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-inline-end: 24px;
}

.movieImage {
  max-width: 100%;
  object-fit: cover;
  margin: 10px auto;
}

.movieTitle {
  font-size: 15px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin-bottom: 5px;
  box-sizing: border-box;
  color: #ebecfb;
  padding: 0 5px;
}
